@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Bungee&family=Shadows+Into+Light&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: red;
}
